/*Basics*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{ margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{ display: block; }
body{ line-height: 1; }
ol,ul{ list-style: none; }
blockquote,q{ quotes: none; }
blockquote:before,blockquote:after,
q:before,q:after{ content: ''; content: none; }
table{ border-collapse: collapse; border-spacing: 0; }
/*Styles*/
html,body{ background-color:#ed334b; }
body{ font-family: 'quicksandlight',Helvetica,Arial; color:#FFFFFF; text-shadow: -1px -1px 4px rgba(0,0,0,.35); filter: dropshadow(color=#000000,offx=1,offy=1); }
header{ margin-top:30px; position:absolute; z-index:5; width:420px; padding-top:10px; padding-bottom:10px; }
h1{ font-size:36px; letter-spacing:-2.5px; margin-left:30px; }
h3{ font-size:16px; letter-spacing:-1.5px; margin-top:5px; margin-left:35px; }
a{ color:rgba( 255,255,255,.65 ); text-decoration: none; }
a:hover{ color:rgba( 255,255,255,1 ); }
/*Class*/
.title{
  position: fixed;
  top: 10vh;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 70px;
  color: #fff;
}
.trans3d{
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform-style: preserve-3d;
  -moz-transform: translate3d(0,0,0);
  -ms-transform-style:preserve-3d;
  -ms-transform: translate3d(0,0,0);
  transform-style:preserve-3d;
  transform: translate3d(0,0,0);
  /*-webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility:hidden;
  backface-visibility:hidden;*/
}
#contentContainer{
  position:absolute;
  left:0;
  top:0;
  width:100vw;
  height:100vh;
  overflow: hidden;
}
#carouselContainer{
  position:absolute;
  left:0;
  top:0;
  width:100vw;
  height:100vh;
  /*transform: translate3d(0,-25%,0);*/
}
.carouselItem{
  width:320px;
  /*height:130px;*/
  position:absolute;
  left:50%;
  top:50%;
  margin-left:-160px;
  /*margin-top:-90px;*/
  visibility:hidden;
}
.carouselItemInner{
  width:320px;
  /*height:130px;*/
  position:absolute;
  background-color:rgba(255,255,255,.75);
  border:10px solid rgba(255,255,255,.5);
  color:aqua;
  font-size:72px;
  left:50%;
  top:50%;
  margin-left:-160px;
  /*margin-top:-90px;*/
  text-align:center;
}
.carouselItemImg{
  display: block;
  max-width: 100%;
  width: 100%;
}